<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  parallel="methods" thread-count="5" name="All Test Suite">
    <listeners>
        <listener class-name="dataFiles.Listener"/>
    </listeners>
    <test  name="OrderGenerationEndToEnd Test">
        <classes>
            <class name="OrderGenerationEndToEndTest"/>
        </classes>
    </test>
    <test  name="ErrorValidations Test">
        <classes>
            <class name="ErrorValidationsTest">
                <methods>
                    <include name="productErrorValidation"/>
                    <include name="wrongLogin"/>
                </methods>
                    </class>
        </classes>
    </test>
</suite>